# =========================
# PlatformIO
# =========================
.pio/
.piolibdeps/
.clangd/

# =========================
# VS Code
# =========================
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# =========================
# OS
# =========================
.DS_Store
Thumbs.db
desktop.ini

# =========================
# Build / Binaries
# =========================
*.o
*.obj
*.elf
*.bin
*.hex
*.map

# =========================
# Logs
# =========================
*.log

# =========================
# Temporary files
# =========================
*.tmp
*.temp
*~